<section class="settings__section">
  <header>
    <h2 class="divider"><%= t("account.entropy_section_title") %></h2>
    <div><%= t("account.entropy_intro_html").html_safe %></div>
  </header>

  <%= render "entropy/auto_close", model: account.entropy, url: account_entropy_path, disabled: !Current.user.admin? %>
</section>
