<section class="settings__section flex flex-column align-center">
  <header>
    <h2 class="divider"><%= t("users.developer_heading") %></h2>
    <div><%= t("users.developer_intro", link: link_to(t("users.personal_access_tokens"), my_access_tokens_path, class: "btn btn--plain txt-link")).html_safe %></div>
  </header>
</section>
