<div class="events margin-block-double" id="activity" data-controller="pagination" data-pagination-paginate-on-intersection-value="true">
  <%= day_timeline_pagination_frame_tag day_timeline do %>
    <%= render "events/day", day_timeline: day_timeline %>

    <% if day_timeline.next_day %>
      <%= link_to t("users.events.show.load_more"), user_path(user, day: day_timeline.next_day.strftime("%Y-%m-%d"), **filter.as_params),
            class: "day-timeline-pagination-link", data: { frame: day_timeline_pagination_frame_id_for(day_timeline.next_day), pagination_target: "paginationLink" } %>
    <% end %>
  <% end %>
</div>



