<% if workflow = card.workflow %>
  <div id="<%= dom_id(card, :stages) %>" class="card__stages">
    <% workflow.stages.each do |stage| %>
      <%= tag.div stage.name,
                class: ["overflow-ellipsis flex align-center gap-half btn non-clickable justify-start workflow-stage txt-uppercase no-hover", { "workflow-stage--current": stage == card.stage }] %>
    <% end %>
  </div>
<% end %>
