.filter {
  display: inline-flex;
  position: relative;

  #header:has(&) {
    position: relative;
    z-index: 1;
  }
}

.filter__button {
  --hover-size: 0;

  color: var(--color-link);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.filter__menu {
  li {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.filter__popup {
  --panel-padding: 1em;
  --panel-size: 20ch;

  inset: calc(var(--btn-size) * 0.6) 0 auto 50%;
  max-inline-size: 60ch !important;
  position: absolute;
  transform: translateX(-50%);
  transform-origin: top left;
  z-index: 1;

  &[open] {
    display: inline-flex;
  }
}
