<li class="popup__item" data-filter-target="item" data-navigable-list-target="item" id="<%= "filter-user-#{user.id}" %>">
  <%= icon_tag "person", class: "popup__icon" %>
  <%= link_to user, class: "popup__btn btn" do %>
    <span class="overflow-ellipsis"><%= user.name %></span>
  <% end %>
</li>
